body[backgrouond-color:#3efaf7;text-aling'-justify;font-size:18px;]
b1(text-aling:center;backgraund-color,#2fbdba;color:#1731b;]
h3(text-alingn;justify;color#1f7a79)
b(colo0r;purple;font-size: 18px;])
i(color;pink;font-size 18px;])
header,footer(background-color:#499cba;color:
#ceeffc.texte_alingn:center;font-sizwe'20px;]
main(background-color=h8ddefc;])
